---
import HeaderLink from './HeaderLink.astro';

const currentPath = Astro.url.pathname;
const currentLocale = currentPath.startsWith('/ja') ? '/ja' : '';
const basePath = currentPath.replace(/^\/(en|ja)/, '');

const homeUrl = `${currentLocale}/`;
const blogUrl = `${currentLocale}/blog`;
// const favoritesUrl = `${currentLocale}/favorites`;

const isHomeActive = currentPath === '/' || currentPath === '/ja/';
const isBlogActive = currentPath.startsWith('/blog') || currentPath.startsWith('/ja/blog');
// const isFavoritesActive = currentPath.startsWith('/favorites') || currentPath.startsWith('/ja/favorites');
const isENActive = currentLocale === '';
const isJPActive = currentLocale === '/ja';

import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={homeUrl} isActive={isHomeActive}>Home</HeaderLink>
			<HeaderLink href={blogUrl} isActive={isBlogActive}>Blog</HeaderLink>
			<!--<HeaderLink href={favoritesUrl} isActive={isFavoritesActive}>Favorites</HeaderLink>-->
		</div>

		<!-- Language switch buttons -->
		<nav>
			<HeaderLink href={basePath} isActive={isENActive}>EN</HeaderLink>
			<HeaderLink href={`/ja${basePath}`} isActive={isJPActive}>JP</HeaderLink>
		</nav>
	</nav>
</header>

<style>
header {
	margin: 0;
	padding: 0 1em;
	background: white;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);

	border-bottom: 2px dashed rgb(29 161 242);
}

h2 {
	margin: 0;
	font-size: 1.25rem;
}

h2 a,
h2 a.active {
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
</style>
