---
import HeaderLink from './HeaderLink.astro';

const currentPath = Astro.url.pathname;
const currentLocale = currentPath.startsWith('/ja') ? '/ja' : '';
const basePath = currentPath.replace(/^\/(en|ja)/, '');

const homeUrl = `${currentLocale}/`;
const blogUrl = `${currentLocale}/blog`;
// const favoritesUrl = `${currentLocale}/favorites`;

const isHomeActive = currentPath === '/' || currentPath === '/ja/';
const isBlogActive = currentPath.startsWith('/blog') || currentPath.startsWith('/ja/blog');
// const isFavoritesActive = currentPath.startsWith('/favorites') || currentPath.startsWith('/ja/favorites');
const isENActive = currentLocale === '';
const isJPActive = currentLocale === '/ja';
---

<header class="header">
	<div class="internal-links">
		<HeaderLink href={homeUrl} isActive={isHomeActive}>Home</HeaderLink>
		<HeaderLink href={blogUrl} isActive={isBlogActive}>Blog</HeaderLink>
		<!--<HeaderLink href={favoritesUrl} isActive={isFavoritesActive}>Favorites</HeaderLink>-->
	</div>

	<button class="toggle-theme">
		<span class="material-symbols-outlined light-icon">light_mode</span>
		<span class="material-symbols-outlined dark-icon">brightness_3</span>
	</button>

	<!-- Language switch buttons -->
	<div class="internal-links">
		<HeaderLink href={basePath} isActive={isENActive}>EN</HeaderLink>
		<HeaderLink href={`/ja${basePath}`} isActive={isJPActive}>JP</HeaderLink>
	</div>
</header>

<script>
const setTheme = (theme: string) => {
	document.documentElement.setAttribute('data-theme', theme);
	localStorage.setItem('theme', theme);
};

const toggleTheme = () => {
	const currentTheme = document.documentElement.getAttribute('data-theme') || 'light';
	const newTheme = currentTheme === 'light' ? 'dark' : 'light';
	setTheme(newTheme);
};

const savedTheme = localStorage.getItem('theme') || 'light';
setTheme(savedTheme);

document.addEventListener('DOMContentLoaded', () => {
	const toggleButton = document.querySelector('.toggle-theme');

	if (toggleButton) {
		toggleButton.addEventListener('click', toggleTheme);
	}
});
</script>

<style>
.header {
	align-items: center;
	background-color: var(--background-color);
	border-bottom: 2px dashed #1da1f2;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 1rem;
}

.internal-links {
	align-items: center;
	display: flex;
	flex-grow: 4;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.toggle-theme {
	background: none;
	border: none;
	cursor: pointer;
	flex-grow: 1;
	font-size: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
}

.dark-icon {
	display: none;
}

html[data-theme="dark"] {
	.light-icon {
		display: none;
	}

	.dark-icon {
		display: inline;
	}

	.toggle-theme {
		transform: rotate(145deg);
	}
}

@media (max-width: 768px) {
	.navbar {
		gap: 2rem;
		justify-content: space-between;
	}
}
</style>
