---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h2>{title}</h2>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style lang="postcss">
main {
	margin: 0;
	max-width: 100%;
}

.hero-image {
	width: 100%;
}

.hero-image img {
	border-radius: 12px;
	display: block;
	margin: 0 auto;
	max-width: 320px;
}

.prose {
	color: rgb(var(--gray-dark));
	margin: auto;
	max-width: calc(100% - 2em);
	padding: 1em;
	width: 720px;
}

.title {
	line-height: 1;
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
}

.title h2 {
	margin: 0 0 0.5em 0;
}

.date {
	color: rgb(var(--gray));
	margin-bottom: 0.5em;
}

.last-updated-on {
	font-style: italic;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
</style>

<style is:global>
.prose p {
	margin-bottom: 2em;
}

blockquote {
	border-left: 4px solid var(--accent);
	font-size: 1.25rem;
	margin: 0;
	padding: 0 0 0 20px;
}

code {
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
	padding: 2px 6px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;

	> code {
		all: unset;
	}
}
</style>
